.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}
